# version: '3.9'
services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    restart: unless-stopped
  
  frontend:
    image: pca_pipeline-frontend
    build: ./frontend
    ports:
      - "8080:80"
    volumes:
      - ./frontend/build:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
    - backend
  
  # nginx:
  #   image: nginx:alpine
  #   ports:
  #     - "8080:80"
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  #   depends_on:
  #     - frontend
  #   restart: unless-stopped

  ml_pipeline:
    build:
      context: ./ml_pipeline
      dockerfile: Dockerfile
    volumes:
      - ./ml_pipeline/ml.py:/app/ml.py
      - ./ml_pipeline/run.sh:/app/run.sh
    depends_on:
      - redis
    # restart: unless-stopped
